body {
    width: 100%;
    height: 100%;
    line-height: 1;
    background: linear-gradient(to right, rgba($primary-color, 0.5), rgba($primary-color, 0.1)), url(/img/newback.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

main {
    height: 100%;
    margin: 70px 0 50px;
    display: flex;
    align-items: center;
}