.resume-page {
    width: 100%;
}

.my-resume {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}
input[type = "radio"] {
    display: none;
}
.resume-nav {
    width: 20%;
    max-width: 120px;
    display: flex;
    flex-flow: column nowrap;

}
.nav-box {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-text {
    background-color: #00a2d3;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    text-align: center;
}
.resume-text {
    width: 90%
}
.main-text {
    width: 100%;
    max-width: 1000px;
    padding: 0px 40px;
}
.main-text {
    margin-top: 10px;
}
.main-text h4 {
    font-size: 25px;
    height: 50px;
    line-height: 50px;

}
.main-text p {
    font-size: 17px;
    text-align: justify;
    padding-top: 10px;
}
.my-resume .resume-text .mytext {
    display: none;
}

#personal:checked ~ .my-resume .resume-text .main-text .personal,
#professional:checked ~ .my-resume .resume-text .main-text .professional,
#academics:checked ~ .my-resume .resume-text .main-text .academics,
#interest:checked ~ .my-resume .resume-text .main-text .interest,
#references:checked ~ .my-resume .resume-text .main-text .references {
    display: block;
}


.resume-btn {
    margin: 30px 0px 10px 0px;
}
.mybtn {
    padding: 6px 10px;
    background-color: #00a2d3;
    border: none;
    border-radius: 3px;
    text-align: center;
}
.mybtn a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
.mybtn:hover {
    background-color:#007fdc;
}